In [1]:
import pandas as pd
import os

In [2]:
file_to_load = os.path.join("Resources","missing_grades.csv")
missing_grades_df = pd.read_csv(file_to_load)

In [ ]:
#Can do nothing about NaN if you're just summing numbers, but functions will be impacted with multiplying, etc. 
#Can use dropna() to drop the entire row, but that will lose data for the rest of the columns
#Can use fillna() to fill in empty rows: must be careful and check how it would affect the data analysis
    #missing_grades_df.dropna()
missing_grades_df.fillna(0)

In [ ]:
missing_grades_df.dtypes
missing_grades_df.math_score.dtype       
missing_grades_df["Student ID"].dtype