In [ ]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

In [ ]:
#A dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"}, 
                     {"High School": "Wilson", "Type": "Charter"}, 
                     {"High School": "Wright", "Type": "Charter"}]

In [ ]:
#Creating a list of high schools to be extracted and analzyed by Pandas
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [1]:
import pandas as pd

In [ ]:
#Create a Pandas Series from a list
#Assign it a variable so it's easily called
school_series = pd.Series(high_schools)
for school in school_series:
    print(school)

In [ ]:
#Dictionary of High Schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                      {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                      {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"}, 
                      {"School ID": 3, "school_name": "Hernandez High School", "type": "District"}, 
                      {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
#3 Separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [ ]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()
#Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

schools_df